/*Font from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

/*Border-Box for correct layout*/
* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/*Desktop*/
@media (width >=480px) {
    body {
        background-color: rgba(45, 54, 72, 1);
    }

    h1 {
        margin-top: 0;
        margin-bottom: 1vw;
        font-size: 5rem;
        color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: 2px black;
    }

    h2 {
        margin-top: 0;
        font-size: 2.5rem;
        color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: 1.5px black;
    }

    h3 {
        margin-top: 0;
        padding-top: 1vw;
        font-size: 2.5rem;
        color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: 1.5px black;
    }

    h4 {
        margin: 1vw;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 1);
    }

    p {
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 1);
    }

    nav {
        display: flex;
        flex-direction: row;
        padding: 2vw;
        background-color: rgba(160, 171, 192, 1);
        border-bottom: solid;
        border-width: 0.5vh;
        border-color: rgb(0, 0, 0);
    }

    img {
        width: 100%;
        height: 100%;
    }

    .navImage {
        width: 5vw;
        height: 5vh;
    }

    a {
        padding: 0.75vw;
        text-decoration: none;
        border: solid;
        border-radius: 0.5vw;
        border-color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
        transition: all 0.2s ease-out;
    }

    a:hover {
        padding: 0.75vw;
        text-decoration: none;
        border: solid;
        border-radius: 0.5vw;
        border-color: rgba(0, 0, 0, 1);
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 1);
    }

    .navLink {
        margin-left: 70vw;
        margin-top: 0.5vw;
    }

    header {
        background-image: url(../images/ROGALLY2.webp);
        background-size: 100% auto;
        width: 98.3vw;
        height: 98.3vh;
        border-bottom: solid;
        border-width: 0.5vh;
        border-color: rgba(0, 0, 0, 1);
    }

    .headerContents {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        padding-top: 15vh;
    }

    .headerLinks {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        padding-top: 52vh;
    }

    .orderButton {
        padding: 1.5vw;
        font-size: 1.5rem;
        text-decoration: none;
        border: solid;
        border-radius: 1vw;
        border-color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
    }

    .orderButton:hover {
        padding: 1.5vw;
        font-size: 1.5rem;
        text-decoration: none;
        border: solid;
        border-radius: 1vw;
        border-color: rgba(0, 0, 0, 1);
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 1);
    }

    .subheading {
        background-color: rgba(206, 211, 220, 1);
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: solid;
        border-width: 0.5vh;
        border-color: rgb(0, 0, 0);
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .productCards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 8vw;
    }

    .card {
        display: flex;
        flex-direction: column;
        border: solid;
        border-width: 0.2vw;
        border-color: rgba(0, 0, 0, 1);
        border-radius: 1vw;
        background-color: rgba(160, 171, 192, 1);
        transition: all 0.1s ease-out;
    }

    .card:hover {
        display: flex;
        flex-direction: column;
        border: solid;
        border-width: 0.2vw;
        border-color: rgba(0, 0, 0, 1);
        border-radius: 1vw;
        background-color: rgba(160, 171, 192, 1);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        transform: scale(1.15);
    }

    .relatedImage {
        width: 15vw;
        height: 15vw;
        padding: 1vw;
        margin: 1vw;
        border: solid;
        border-width: 0.2vw;
        border-color: rgba(0, 0, 0, 1);
        border-radius: 1vw;
        background-color: rgba(255, 255, 255, 1);
    }

    .stars {
        width: 7.5vw;
        align-self: center;
    }

    .relatedOrder {
        margin: 1vw;
        text-decoration: none;
        border: solid;
        border-radius: 1vw;
        border-color: rgba(0, 0, 0, 1);
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 1);
    }

    .relatedOrder:hover {
        margin: 1vw;
        text-decoration: none;
        border: solid;
        border-radius: 1vw;
        border-color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
    }

    .form {
        margin-top: 0;
        background-color: rgba(160, 171, 192, 1);
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 40%;
    }

    .form {
        background-color: rgba(160, 171, 192, 1);
        padding-bottom: 5vh;
    }

    .completeForm {
        align-items: center;
    }


    .formTitle {
        text-align: center;
    }

    .input {
        display: flex;
        flex-direction: column;
        width: 9vw;
    }

    #secondBlock {
        margin-left: 2vw;
    }

    .email {
        width: 20vw;
    }

    .subject {
        width: 20vw;
    }

    .message {
        width: 20vw;
        height: 10vh;
        resize: none;
    }

    .subscribe {
        margin: 0;
        padding-bottom: 0.2vh;
    }

    .terms {
        margin-left: 0;
    }

    .firstRow {
        display: flex;
        flex-direction: row;
        padding-bottom: 1vh;
    }

    .secondRow {
        padding-bottom: 1vh;
    }

    .thirdRow {
        display: flex;
        flex-direction: row;
        padding-bottom: 1vh;
    }

    .fourthRow {
        padding-bottom: 1vh;
        display: flex;
        flex-direction: column;
    }

    .fifthRow {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 1vh;
    }

    .sixthRow {
        padding-bottom: 1vh;
    }

    .seventhRow {
        padding-bottom: 1vh;
    }

    .submitButton {
        background-color: rgba(45, 54, 72, 1);
        border-style: solid;
        border-color: rgba(0, 0, 0, 1);
        border-width: 0.2vw;
        border-radius: 0.2vw;
        padding: 0.2vw;
        width: 20vw;
        transition: all 0.1s ease-out;
    }

    .submitButton:hover {
        background-color: rgba(45, 54, 72, 1);
        border-style: solid;
        border-color: rgba(0, 0, 0, 1);
        border-width: 0.2vw;
        border-radius: 0.2vw;
        padding: 0.2vw;
        width: 20vw;
        transform: scale(1.05);
    }

    footer {
        display: flex;
        flex-direction: row;
        margin-top: 3vh;
        margin-left: 1vw;
        background-color: rgba(45, 54, 72, 1);
    }

    .footerImage {
        width: 5vw;
        height: 5vh;
    }

    .footerLeft {
        display: flex;
        flex-direction: column;
    }

    .footerRight {
        margin-top: 7vh;
        margin-left: 55vw;
    }

    #footerLink {
        background-color: transparent;
        color: rgba(0, 0, 0, 1);
        border: 0;
    }

    #footerLink:hover {
        background-color: transparent;
        color: rgba(0, 0, 0, 1);
        border: 0;
        text-decoration: underline;
    }

    .footerLogo {
        display: flex;
        flex-direction: row;
    }

    .footerLogoImage {
        width: 2vw;
        padding: 0.2vw;
    }

    .wip {
        margin-left: 12vw;
        margin-top: 12vh;
        width: 75vw;
        height: 75vh;
    }

    .return {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
        width: 75vw;
        margin-left: 12vw;
        margin-top: 1.2vh;
    }

}

/*Mobile*/
@media (width <=480px) {
    body {
        background-color: rgba(45, 54, 72, 1);
    }

    h1 {
        margin-top: 0;
        margin-bottom: 1vw;
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: 2px black;
    }

    h2 {
        margin-top: 0;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: 1.5px black;
    }

    h3 {
        margin-top: 0;
        padding-top: 3vw;
        font-size: 1.8rem;
        color: rgba(255, 255, 255, 1);
        -webkit-text-stroke: 2px black;
    }

    h4 {
        margin: 1vw;
        font-size: 1rem;
        color: rgba(0, 0, 0, 1);
    }

    p {
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 1);
        margin: 2vw;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 2vw;
        background-color: rgba(160, 171, 192, 1);
        border-bottom: solid;
        border-width: 0.3vh;
        border-color: rgb(0, 0, 0);
    }

    img {
        width: 100%;
        height: 100%;
    }

    .navImage {
        align-self: center;
        padding: 1vw;
        width: 40vw;
        height: 10vh;
    }

    a {
        padding: 0.75vw;
        margin: 1vw;
        text-decoration: none;
        border: solid;
        border-radius: 2vw;
        border-color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
        transition: all 0.2s ease-out;
    }

    a:hover {
        padding: 0.75vw;
        margin: 1vw;
        text-decoration: none;
        border: solid;
        border-radius: 2vw;
        border-color: rgba(0, 0, 0, 1);
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 1);
    }

    .navLink {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0vw;
        margin-top: 0.5vw;
        padding: 1vw;
    }

    header {
        background-image: url(../images/ROGALLY2.webp);
        background-size: cover;
        background-position: center;
        height: 40vh;
        border-bottom: solid;
        border-width: 0.3vh;
        border-color: rgba(0, 0, 0, 1);
    }

    .headerContents {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        padding-top: 3.5vh;
    }

    .headerLinks {
        color: rgba(255, 255, 255, 1);
        text-align: center;
        margin-top: 22.5vh;
    }

    .orderButton {
        padding: 1.5vw;
        font-size: 1rem;
        text-decoration: none;
        border: solid;
        border-width: 0.5vw;
        border-radius: 1vw;
        border-color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
    }

    .orderButton:hover {
        padding: 1.5vw;
        font-size: 1rem;
        text-decoration: none;
        border: solid;
        border-width: 0.5vw;
        border-radius: 1vw;
        border-color: rgba(0, 0, 0, 1);
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 1);
    }

    .subheading {
        background-color: rgba(206, 211, 220, 1);
        display: flex;
        flex-direction: column;
        text-align: center;
        border-bottom: solid;
        border-width: 0.3vh;
        border-color: rgb(0, 0, 0);
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .productCards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 8vw;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 60vw;
        height: 40vh;
        border: solid;
        border-width: 0.5vw;
        border-color: rgba(0, 0, 0, 1);
        border-radius: 5vw;
        margin-bottom: 3vh;
        background-color: rgba(160, 171, 192, 1);
        transition: all 0.1s ease-out;
    }

    .card:hover {
        display: flex;
        flex-direction: column;
        width: 60vw;
        height: 40vh;
        border: solid;
        border-width: 0.5vw;
        border-color: rgba(0, 0, 0, 1);
        border-radius: 5vw;
        margin-bottom: 3vh;
        background-color: rgba(160, 171, 192, 1);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        transform: scale(1.05);
    }

    .relatedImage {
        align-self: center;
        width: 45vw;
        height: 45vw;
        padding: 1vw;
        margin: 1vw;
        border: solid;
        border-width: 0.5vw;
        border-color: rgba(0, 0, 0, 1);
        border-radius: 1vw;
        background-color: rgba(255, 255, 255, 1);
    }

    .stars {
        width: 30vw;
        height: 3vh;
        align-self: center;
    }

    .relatedOrder {
        width: 30vw;
        align-self: center;
        margin: 3vw;
        text-decoration: none;
        border: solid;
        border-width: 0.7vw;
        border-radius: 1.5vw;
        border-color: rgba(0, 0, 0, 1);
        color: rgba(0, 0, 0, 1);
        background-color: rgba(255, 255, 255, 1);
    }

    .relatedOrder:hover {
        width: 30vw;
        align-self: center;
        margin: 3vw;
        text-decoration: none;
        border: solid;
        border-width: 0.7vw;
        border-radius: 1.5vw;
        border-color: rgba(255, 255, 255, 1);
        color: rgba(255, 255, 255, 1);
        background-color: rgba(0, 0, 0, 1);
    }

    .form {
        margin-top: 0;
        background-color: rgba(160, 171, 192, 1);
    }


    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form {
        background-color: rgba(160, 171, 192, 1);
        padding-bottom: 5vh;
    }

    .formTitle {
        text-align: center;
    }

    .input {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .email {
        width: 80vw;
    }

    .subject {
        width: 80vw;
    }

    .message {
        width: 80vw;
        height: 10vh;
        resize: none;
    }

    .subscribe {
        margin: 0;
        padding-bottom: 0.2vh;
    }

    .terms {
        margin-left: 0;
    }

    .firstRow {
        display: flex;
        flex-direction: column;
        padding-bottom: 1vh;
    }

    .secondRow {
        padding-bottom: 1vh;
    }

    .thirdRow {
        display: flex;
        flex-direction: column;
        padding-bottom: 1vh;
    }

    .fourthRow {
        padding-bottom: 1vh;
        display: flex;
        flex-direction: column;
    }

    .fifthRow {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 1vh;
    }

    .sixthRow {
        margin-left: -35vw;
        padding-bottom: 1vh;
    }

    .seventhRow {
        margin-left: -22.5vw;
        padding-bottom: 1vh;
    }

    .submitButton {
        background-color: rgba(45, 54, 72, 1);
        border-style: solid;
        border-color: rgba(0, 0, 0, 1);
        border-width: 0.6vw;
        border-radius: 1.2vw;
        padding: 1vw;
        width: 80vw;
        transition: all 0.1s ease-out;
    }

    .submitButton:hover {
        background-color: rgba(45, 54, 72, 1);
        border-style: solid;
        border-color: rgba(0, 0, 0, 1);
        border-width: 0.6vw;
        border-radius: 1.2vw;
        padding: 1vw;
        width: 80vw;
        transform: scale(1.05);
    }

    footer {
        display: flex;
        flex-direction: row;
        margin-top: 3vh;
        margin-left: 1vw;
        background-color: rgba(45, 54, 72, 1);
    }

    .footerImage {
        width: 25vw;
        height: 6vh;
    }

    #copyright {
        margin: 1vh 1vw 1vh 0;
    }

    .footerLeft {
        display: flex;
        flex-direction: column;
        margin-left: 2vw;
    }

    .footerRight {
        display: flex;
        flex-direction: column;
        margin-left: 15vw;
    }

    #footerLink {
        background-color: transparent;
        color: rgba(0, 0, 0, 1);
        border: 0;
    }

    #footerLink:hover {
        background-color: transparent;
        color: rgba(0, 0, 0, 1);
        border: 0;
        text-decoration: underline;
    }

    .footerLogo {
        display: flex;
        flex-direction: row;
    }

    .footerLogoImage {
        width: 8vw;
        padding: 0.2vw;
    }

    .wip {
        margin-left: 2.5vw;
        margin-top: 30vh;
        width: 90vw;
        height: 30vh;
    }

    .return {
        display: flex;
        flex-direction: column;
        margin: 0;
        text-align: center;
        width: 90vw;
        margin-left: 2.5vw;
        margin-top: 1.2vh;
    }

}
